body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-gap: 0;
}
.grid span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 62px;
    padding-bottom: 16px;
}
.input {
    display: flex;
    align-items: center;
}
#heading {
    display: flex;
    font-size: 5vw;
    top: 10px;
}